{% extends 'home.html' %}
<h1>Channels</h1>

<div class="container">
    <table class="table table-bordered mt-5">
        <thead>
            <td>SN</td>
            <td>Img</td>
            <td>Channel</td>
            <td>Videos Uploaded</td>
            <td>Views</td>
            <td>Subscribers</td>
            <td>Joined</td>
        </thead>
        <tbody>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tbody>
    </table>
</div>
